h1 {
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: calc(30px + 1.2vw);
  letter-spacing: 10px;
  background: black;
  color: #fff;
  text-align: center;
  line-height: 50px;
  width: 75vw;
  margin: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.background {
  width: 78vw;
  height: 55vh;
  margin: auto;
  max-width: 7675px;
  max-height: 2397px;
  background-position-x: center;
  background-size: cover;
  background-image: url("/assets/img/7.jpg");
  background-repeat: no-repeat;
  box-shadow: 0 0 25px 25px black inset;
}

.text-container {
  padding-top: 4vh;
  text-align: justify;
  width: 75vw;
  margin: auto;
  font-size: 1.6em;
  line-height: 32px;
  font-family: "Times New Roman", serif;
}

.text-container::first-letter {
  font-size: 2.1em;
  font-family: "Calisto MT", serif;
}

.second {
  //width: 0;
  //height: 0;
  //border-left: 50px solid transparent;
  border-bottom: 50px solid white;
  border-right: 212vh solid transparent;
  //border-right: 50px solid transparent;
  //background-color: white;
  //height: 10vh;
}

.text-container-second {
  padding-top: 4vh;
  text-align: justify;
  width: 75vw;
  margin: auto;
  font-size: 1.6em;
  line-height: 32px;
  font-family: "Times New Roman", serif;
  background-color: white;
  color: black;
}
