.background {
  width: 85vw;
  height: 55vh;
  margin: auto;
  max-width: 7675px;
  max-height: 2397px;
  background-position-x: center;
  background-size: cover;
  background-image: url("/assets/img/7.jpg");
  background-repeat: no-repeat;
  opacity: 80%;
  box-shadow: 0 0 25px 25px black inset;
}

.text-container {
  text-align: justify;
  width: 85vw;
  margin: auto;
  font-size: 1.6em;
  line-height: 32px;   /* within paragraph */
  font-family: "Times New Roman", serif;
}

.text-container::first-letter {
  font-size: 2.1em;
  font-family: "Calisto MT", serif;
}

//p::first-letter {
//  margin-left: 1.1em;
//}
