<div class="background">

</div>
<!--<div style="background-color: white; height: 200px">-->
<!--  <div style="width: 840px; height: 500px; text-align:center;margin:0; padding:0;">-->
<!--    <ng-image-slider #nav-->
<!--                     [images]="imageObject"-->
<!--                     [infinite]="false"-->
<!--                     [autoSlide]="1"-->
<!--                     [imageSize]="{width: '50%', height: '50%'}"-->
<!--                     slideImage="1"></ng-image-slider>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="background">-->

<!--</div>-->
<div class="background">

</div><div class="background">

</div><div class="background">

</div>
