<mat-toolbar>
<!--  <span class="example-spacer"></span>-->
  <h2 class="title">DZIEŃ, W KTÓRYM ZGASŁO SŁOŃCE</h2>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="playAudio()">
    <mat-icon>play_circle_outline</mat-icon>
  </button>
  <button mat-icon-button (click)="stopAudio()">
    <mat-icon>pause_circle_outline</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>Zaloguj się</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>logout</mat-icon>
      <span>Wyloguj się</span>
    </button>
  </mat-menu>
</mat-toolbar>
