<mat-toolbar style="position: sticky">

<!--  <button mat-raised-button style="opacity: 50%">Basic</button>-->

  <span class="space"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span class="account-button">Zaloguj się</span>
      <mat-icon>login</mat-icon>
    </button>
    <button mat-menu-item disabled>
      <span class="account-button">Wyloguj się</span>
      <mat-icon>logout</mat-icon>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="settings">
    <mat-icon>reorder</mat-icon>
  </button>

  <mat-menu #settings="matMenu">
    <button mat-menu-item>
      <span class="space">Playlist</span>
      <mat-icon fxFlex>audiotrack</mat-icon>
    </button>
    <button mat-menu-item (click)="playAudio()">
      <span class="space">Resume</span>
      <mat-icon fxFlex>play_circle_outline</mat-icon>
    </button>
    <button mat-menu-item (click)="stopAudio()">
      <span class="space">Pause</span>
      <mat-icon fxFlex>pause_circle_outline</mat-icon>
    </button>
  </mat-menu>
</mat-toolbar>
