//.mat-icon-button mat-icon {
//  //transform: scale(2);
//  font-size: calc(30px + 1.2vw);
//  width: calc(30px + 1.2vw);
//  height: calc(30px + 1.2vh);
//}

mat-toolbar {
  background: black;
}

.space {
  flex: 1 1 auto;
}
h1 {
  font-size: calc(1.2vw);
  letter-spacing: 8px;
  color: #fff;
  line-height: 50px;
}

mat-icon {
  color: white;
}
