mat-toolbar {
  background: black;
  border-bottom: grey;
  border-width: 1px;
  border-style: solid;
}

.space {
  flex: 1 1 auto;
}

.mat-icon-button mat-icon {
  color: white;
  font-size: calc(19px + 1.0vw);
  width: calc(19px + 1.0vw);
  height: calc(19px + 1.0vh);
}

mat-icon {
  opacity: 50%;
}

.mat-menu-item mat-icon,
mat-icon:hover{
  opacity: 100%;
  margin: auto;
}

.account-button {
  padding-right: 10px;
}
