<mat-toolbar style="position: sticky">
  <h1 class="space">MONASTYR</h1>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>Zaloguj się</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>logout</mat-icon>
      <span>Wyloguj się</span>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="settings">
    <mat-icon>reorder</mat-icon>
  </button>
  <!--  </div>-->

  <mat-menu #settings="matMenu">
    <button mat-menu-item>
      <mat-icon>audiotrack</mat-icon>
      <span>Playlista</span>
    </button>
    <button mat-menu-item (click)="playAudio()">
      <mat-icon>play_circle_outline</mat-icon>
      <span>Włącz audio</span>
    </button>
    <button mat-menu-item (click)="stopAudio()">
      <mat-icon>pause_circle_outline</mat-icon>
      <span>Wyłącz audio</span>
    </button>
  </mat-menu>
</mat-toolbar>
