.mat-toolbar {
  background: black;
  color: #fff;
  box-shadow: 0 0 25px 25px black inset;
}

.example-spacer {
  flex: 1 1 auto;
}

.title {
  font-family: Georgia,Times,Times New Roman,serif;
  letter-spacing: 10px;
}
